<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Registration</h1>
    <form>
        <div class="row">
            <div class="col">
                <label for="firstName">First Name*</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
            <div class="col">
                <label for="lastName">Last Name*</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="address">Address*</label>
                <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="email">Email*</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="password">Password*</label>
                <input type="text" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="confirmPassword">Confirm Password*</label>
                <input type="text" class="form-control" id="confirmPassword" placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-primary"><a href="">Register</a></button>
    </form>
    <a href="">Forgot your password?</a>
</div>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>