<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <!-- CSS only -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<!--Navigation starts here-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/clientProfile">My Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard/clientCredit">Credit Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/clientInbox">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/clientSupport">Support</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout">
            Welcome: <span th:text="${user.firstName}"></span>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
<!--CONTENT STARTS HERE-->
<div class="container">
    <h1>Credit Information Profile</h1>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Add/Edit Card
                </div>
                <div class="card-body">
                    <form th:action="@{/dashboard/credit}" th:object="${card}"   method="post" >
                        <label>Credit Card Type</label>
                        <div class="row">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" th:value="${T(ca.gbc.model.CardType).MASTERCARD}">
                                    <label class="form-check-label" for="inlineRadio1">Master Card</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" th:value="${T(ca.gbc.model.CardType).VISA}">
                                    <label class="form-check-label" for="inlineRadio2">VISA</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" th:value="${T(ca.gbc.model.CardType).AMERICANEXPRESS}">
                                    <label class="form-check-label" for="inlineRadio3">American Express</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="cardHolderName">Card Holder Name</label>
                                <input type="text" class="form-control" id="cardHolderName" placeholder="John Doe"
                                       th:field="*{cardholderName}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="cardNumber">Credit Card Number</label>
                                <input type="text" class="form-control" id="cardNumber" placeholder="xxxx xxxx xxxx xxxx"
                                       th:field="*{CCNumber}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="expMonth">Exp. Month</label>
                                <input type="text" class="form-control" id="expMonth" placeholder="12"
                                       th:field="*{expirationMonth}">
                            </div>
                            <div class="col">
                                <label for="expYear">Exp. Year</label>
                                <input type="text" class="form-control" id="expYear" placeholder="2025"
                                       th:field="*{expirationYear}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Save as Default/Preferred method</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" name="add" value="add" class="btn btn-primary">Add</button>
                        <button type="submit" name="update" value="update" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <!--existing profiles-->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Link Existing Cards
                </div>
                <div class="card-body">
                    <p style="font-weight: bold">Type: <span style="font-weight: normal">Mastercard</span></p>
                    <p style="font-weight: bold">Expiry: <span style="font-weight: normal">04/2021</span></p>
                    <p style="font-weight: bold">Card Holder: <span style="font-weight: normal">John A. Doe</span></p>
                    <p style="font-weight: bold">Card Number: <span style="font-weight: normal">**** **** **** 1923</span></p>
                    <p style="font-weight: bold">Default: <span style="font-weight: normal">Yes</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>