<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Client Profile</title>
    <!-- CSS only -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<!--Navigation starts here-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/">Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard/clientProfile">My Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/clientCredit">Credit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/clientInbox">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/clientSupport">Support</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout">
            Welcome: <span th:text="${user.firstName}"></span>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
<!--CONTENT STARTS HERE-->
<div class="container">
    <h1>My Profile</h1>
    <div class="row">
        <div class="col">
        <div class="card">
            <div class="card-header">
                Add/Edit Profile
            </div><!--
            <div class="card-body">
                <form th:action="@{/dashboard/clientProfileUpdate}" th:object="${user}" method="post">
                    <div class="row">
                        <div class="col">
                            <label for="firstName">First Name*</label>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name"
                                   th:field="*{firstName}">
                            <div class="text text-danger" th:if="${#fields.hasErrors('firstName')}"
                                 th:errors="*{firstName}"></div>
                        </div>
                        <div class="col">
                            <label for="lastName">Last Name*</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                                   th:field="*{lastName}">
                            <div class="text text-danger" th:if="${#fields.hasErrors('lastName')}"
                                 th:errors="*{lastName}"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="birthDay">Day</label>
                            <input type="text" class="form-control" id="birthDay" placeholder="Enter birth day #"
                                   th:field="*{day}">
                        </div>
                        <div class="col">
                            <label for="birthMonth">Month</label>
                            <input type="text" class="form-control" id="birthMonth" placeholder="Enter birth month #"
                                   th:field="*{month}">
                        </div>
                        <div class="col">
                            <label for="birthYear">Year</label>
                            <input type="text" class="form-control" id="birthYear" placeholder="Enter birth day #"
                                   th:field="*{year}">
                        </div>
                    </div>
                    <button type="submit" name="action" value="update" class="btn btn-primary">Update Client</button>
                </form>
            </div>-->
            <div class="card-body">
                <form th:action="@{/dashboard/clientProfile}" th:object="${profile}" method="post">
                    <div class="row">
                        <div class="col">
                            <label for="profileEmail">Email*</label>
                            <input type="text" class="form-control" id="profileEmail" placeholder="Enter Email"
                                   th:field="*{profileEmail}">
                        </div>
                    </div>
                    <label>Date of Birth</label>
                    <div class="row">
                        <div class="col">
                            <label for="profileAddress">Street</label>
                            <input type="text" class="form-control" id="profileAddress" placeholder="Street"
                                   th:field="*{profileAddress}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="profileCity">City</label>
                            <input type="text" class="form-control" id="profileCity" placeholder="City"
                                   th:field="*{profileCity}">
                        </div>
                        <div class="col">
                            <label for="profileCountry">Country</label>
                            <input type="text" class="form-control" id="profileCountry" placeholder="Country"
                                   th:field="*{profileCountry}">
                        </div>
                        <div class="col">
                            <label for="profilePostal">Postal</label>
                            <input type="text" class="form-control" id="profilePostal" placeholder="Postal"
                                   th:field="*{profilePostal}">
                        </div>
                    </div>
                    <button type="submit" name="action" value="addProfile" class="btn btn-primary">Add/Update Profile</button>
                </form>
            </div>
        </div>
    </div>
        <!--existing profiles-->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Profiles
                </div>
                <div class="card-body">
                    <tr th:each="profile : ${profiles}">
                        <p th:text="'Email: ' + ${profile.profileEmail}"></p>
                        <p th:text="'Address: ' + ${profile.profileAddress}"></p>
                        <p th:text="'City: ' + ${profile.profileCity}"></p>
                        <p th:text="'Country: ' + ${profile.profileCountry}"></p>
                        <p th:text="'Default Billing: ' + ${profile.defaultBilling}"></p>
                        <p th:text="'Default Shipping: ' + ${profile.defaultShipping}"></p>
                        <form th:method="update" th:action="@{/dashboard/clientProfile/(profile=${profile.id})}">
                            <input type="submit" value="update" class="btn btn-primary"/>
                        </form>
                        <a class="btn" th:href="@{/dashboard/deleteClient/{id}(id=${profile.id})}">Delete</a>
                        <br>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>